<div>
  <mat-card center class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Unboring</mat-card-title>
      <mat-card-subtitle style="color:black">The one man team!</mat-card-subtitle>
    </mat-card-header>
    <div mat-card-image class="stuff" style="height:300px" alt="Photo of a Shiba Inu"></div>
    <mat-card-content>
      <p>
        This hack is the story of a bus that was too full to fit the team mates I was planning on working with!
        Instead enjoy my attempt at a fintech hack!
      </p>
    </mat-card-content>
  </mat-card>
</div>